
/*  TOP NEWS */
.main-content {
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .news-grid {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
  }
  
  .news-grid-item {
      width: 392px;
      margin-left: 10px;
      margin-bottom: 10px;
  }
  .article-card {
      display: flex;
      flex-direction: column;
      padding: 20px 17px 15px;
      border-radius: 15px;
      background-color: #f6f6f6;
  }
  .article-card-title {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
  }
  
  .article-card-link {
      display: inline-block;
      color: #000;
      text-decoration: none;
  }
  .article-card-text {
      margin-top: 0;
      margin-bottom: 15px;
  }
  .article-card-img {
      display: block;
      width: 360px;
      height: 165px;
      margin-top: auto;
      margin-bottom: 16px;
      border-radius: 10px;
      object-fit: cover;
  }
  
  .article-card-footer {
      display: flex;
      align-items: center;
  }
  
  .article-card-source-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 5px;
  }
  
  .article-card-source-time {
      font-size: 12px;
      line-height: normal;
      color: #5e5f61;
  }
  
  
  /* NOTIFIICATION-CTA */
  .notification-cta {
      display: flex;
      align-items:center;
      justify-content: space-between; 
      padding: 25px 70px 25px 25px;
      margin: 60px 75px;
      /* background-color: rgb(253, 164, 48); */
      height: 100px;
      background: url('../img/Group1.png');
      background-position: center bottom;
      background-size: cover;
      border-radius: 10px; 
  }
  .notification-cta-text {
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
      color: #000;
      
  }
  
  
  /* GLOBAL NEWS */
  
  .global-news-title {
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
      color: #000;
  }
  .news-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
  }
  .news-list-item:not(:last-child) {
      margin-bottom: 10px;
  }
  
  /* ARTICLE-CARD-HORIZONTAL */
  .article-card-horizontal {
      display: flex;
      align-items:flex-start;
      padding: 20px;
      border-radius: 15px;
      background-color: #f6f6f6;
  }
  .article-card-horizontal-img {
      width: 210px;
      height: 165px;
      margin-right: 15px;
      object-fit: cover;
  }
  
  .article-card-horizontal-content {
      flex-grow: 1;
  }
  
  .article-card-horizantal-title {
      margin-top: 0;
      margin-bottom: 10px;
  }
  .article-card-horizontal-link {
      display: inline-block;
      text-decoration: none;
      color: #000;
  }
  
  .article-card-horizontal-link:hover {
      color: #7296ec;
    
  }
  .article-card-horizontal-text {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 24px;
  }
  .article-card-horizontal-footer {
      display: flex;
      align-items:center
  }
  .article-card-horizontal-source-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 5px;
      object-fit: cover;
  }
  .article-card-horizontal-source-time {
      font-size: 12px;
      line-height: normal;
      color: #5e5f61;
  }
  
  .news-list-more-button {
      padding: 17px;
  }
  
  
  /* LAYOUT */
  .layout-2-1 {
      display: flex;
      align-items:flex-start;
  }
  
  .layout-2-1-main {
      width: 797px;
      margin-right: 10px;
  }
  
  .layout-2-1-sidebar {
      width: 393px;
      margin-top: 59px;
  }
  
  .layout-2-1-sidebar-item:not(:last-child) {
      margin-bottom: 10px;
  }
  
  
  /* SIDEBAR-NEWS */
  .sidebar-news-card {
      padding: 20px;
      border-radius: 15px;
      background-color: #f6f6f6;
      color: #000;
  }
  
  .sidebar-news-card-heading {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
  
  }
  
  .sidebar-news-card-list {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  .sidebar-news-card-item {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  
  .sidebar-news-card-item:first-child {
      padding-top: 0;
  }
  
  .sidebar-news-card-item:last-child {
      padding-bottom: 0;
  }
  
  .sidebar-news-card-item:not(:last-child) {
      border-bottom:solid 1px #d2d2d2;
  }
  
  .sidebar-news-card-title {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 24px;
  }
  .sidebar-news-card-link {
      display: inline-block;
      color: #000;
      text-decoration: none;
  }
  
  .sidebar-news-card-link:hover {
      color: #7296ec;
  }
  
  .sidebar-news-card-link:active {
      opacity: 0.6;
  }
  .sidebar-news-card-source-time {
      font-size: 13px;
      line-height: normal;
      color: #5e5f61;
  }
  
  /* SIDEBAR-AD */
  .sidebar-ad-link {
      display: block;
  }
  
  .sidebar-ad-img {
      width: 393px;
      height: 338px;
      border-radius: 15px;
      object-fit: cover;
  }
  
  .sidebar-ad-news-img {
      width: 393px;
      height: 553px;
      
  }
  
  
  
  